<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>修改头像</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/signin.css" rel="stylesheet">
    </style>
</head>
<body>
    <div class="container">
        <form class="form-signin" action="/setAvatar" method="POST" enctype="multipart/form-data">
            <h2 class="form-signin-heading">请上传头像</h2>
            <div class="form-group">
                <label for="exampleInputFile">File input</label>
                <input type="file" id="exampleInputFile" name="tupian">
                <p class="help-block">上传头像</p>
            </div>
            <button type="submit" class="btn btn-default" id="tijiao">提交</button>
        </form>
    </div>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $("#tijiao").click(function () {
         window.location = "/";
      })
      
    </script>
</body>

</html>